# Файлы и папки которые игнорируются системой контроля версий Git

# Папка 'node_modules' хранит пакеты npm. Может быть обновлена по файлу 'package.json'
/node_modules/**/*

# Папка 'dist' формируется по итогам сборки проекта утилитами Gulp и хранит финальную версию для выгрузки на хостинг. Генеруется при запуске Gulp скриптом 'gulpfile.js'
/dist/**/*



