body {
	font-size: 25px;
	background-color: white;
	color: black;

}

h1 {
	font-size: 40px;
	color: blue;
}

p {
	margin-top: 40px;
	color: green;
}

footer {
	margin-top: 60px;
	color: white;
}




